*,::after,::before{
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




.container{
    background-color: white;
    width: 450px;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

h1{
    font-size: 1.6rem;
    color: cornflowerblue;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

form{
   
  input{
    padding: 10px;
    border: 0;
    outline: none;
    
    &[type=text]{
        background-color:aliceblue ;
        width: 70%;
     }
    &[type=submit]{
        color: white;
        cursor: pointer;
        font-weight: bold;
        background-color:rgba(100, 148, 237, 0.673) ;
        transition: 0.5s ;
        &:hover{
            background-color:rgb(51, 84, 117) ;
        }
     }
}
}

ul{
    list-style: none;
}
svg{
    height: 0.7rem;
    cursor: pointer;

}


.message{
    border-radius: 20px;
    font-size: 12px;
    padding-block: 5px;
    font-weight: 400;
    letter-spacing: 2px;
}

.message.red{
color: red;
background-color: rgba(255, 0, 0, 0.099);
}

.message.green{
color: rgb(117, 192, 4);
background-color:rgba(172, 255, 47, 0.33);
}


.clear-items{
    position: absolute;
    bottom: 10px;
    // left: 0;
    left: 50%;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: 500;
    color: rgba(255, 0, 0, 0.36);
    cursor: pointer;
    transition: 0.6s color;
    &:hover{
        color: red;
    }
}


.hidden{
    display: none;
}

.addedItemBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
   position: relative;
   padding: 7px;
   left:-1.1rem;
    &:hover{
        background-color: aliceblue;
    }
}


h3{
    font-weight:500;
    font-size: 1rem;
    color: #222;
    letter-spacing: 1px;
    margin-block: 0;
}

